[package]
authors = ["Jacob Brown <kardeiz@gmail.com>"]
edition = "2018"
name = "jsonrpc-v2"
version = "0.2.1"
description = "JSONRPC 2.0 server"
keywords = ["jsonrpc", "json-rpc", "jsonrpc2", "rpc"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/kardeiz/jsonrpc-v2"

[features]
easy_errors = []

[dependencies]
actix = "0.7.9"
bytes = "0.4.11"
erased-serde = "0.3.8"
futures = "0.1.27"
serde_derive = "1.0.85"
actix-web = "1"

[dependencies.serde]
features = ["derive"]
version = "1.0.85"

[dependencies.serde_json]
features = ["raw_value"]
version = "1.0.37"

[dev-dependencies]

bytes = "0.4.11"
http = "0.1.15"
tokio = "0.1.15"
